
.Head {
    text-align: center;
    margin-top: 20px;
    font-family: monospace, serif;
    color: indigo;
}

.links {
    display: flex;
    justify-content: center; 
    gap: 15px; 
    margin-top: 20px; 
}


.links a {
    display: block;
    padding: 10px 20px;
    background-color: #e7a5e8;
    text-decoration: none;
    color: #1a32b8;
    border: 1px solid #182fb1;
    border-radius: 8px;
    text-align: center;
    width: 150px; 
}
.intro {
    text-align: center;
}