:root {
    --main-bg: linear-gradient(90deg, #06beb6, #48b1bf);
    --text-color: white;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #ffffff;
}


h1, h2, p {
    margin: 0;
    padding: 0;
}


h1.intro {
    text-align: center;
    font-size: 2.5rem;
    margin: 30px 0;
    color: #ffe259;
    text-shadow: 2px 2px 5px #000;
}


h2 {
    font-size: 1.8rem;
    margin: 20px 0 10px;
    text-align: center;
    color: #f9f871;
}

p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 0 20px 20px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}


body {
    padding: 20px;
}


@media (max-width: 768px) {
    h1.intro {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
